:root {
  --fundo-principal: #121212;
  --texto-primario: #d1d1d1;
  --cabecalho-rodape: #1a1a1a;
  --bordas-destaque: #333333;
  --bordas-destaque2: #555555;
  --fundo-menu: #1f1f1f;
  --fundo-itens-menu: #2a2a2a;
  --hover-itens-menu: #333333;
  --texto-btn-logout: #d1d1d1;
  --hover-btn-logout: #333333;
}

/* Reseta margens, paddings e configura a caixa de modelo */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos gerais do corpo da página */
body {
  font-family: "Roboto", sans-serif;
  background-color: var(--fundo-principal); /* Fundo principal */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: var(--texto-primario); /* Texto primário */
  overflow: hidden;
}

/* Estilos do container do formulário */
.form-container {
  background: rgba(0, 0, 0, 0.8);
  padding: 50px;
  border-radius: 15px;
  box-shadow: 0 8px 30px rgba(255, 255, 255, 0.527);
  width: 100%;
  max-width: 400px;
  backdrop-filter: blur(12px);
  transform: scale(0.95);
  animation: popIn 0.6s ease-out forwards;
  text-align: center;
}

/* Animação de entrada do formulário */
@keyframes popIn {
  from {
    transform: scale(0.95);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

/* Estilos do título */
h2 {
  margin-bottom: 30px;
  font-size: 32px;
  font-weight: 700;
  color: var(--texto-primario); /* Texto primário */
  letter-spacing: 1px;
  animation: fadeIn 1.5s ease-out;
}

/* Animação de fade-in do título */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Estilos dos campos de entrada */
.input-container {
  position: relative;
  margin-bottom: 25px;
}

input {
  width: 100%;
  padding: 14px 20px;
  padding-left: 45px;
  margin: 12px 0;
  border: 2px solid var(--bordas-destaque); /* Bordas destaque */
  border-radius: 10px;
  background-color: var(--cabecalho-rodape); /* Cor de fundo do input */
  color: var(--texto-primario); /* Texto primário */
  font-size: 16px;
  transition: all 0.3s ease;
}

/* Efeito de foco nos campos de entrada */
input:focus {
  outline: none;
  border-color: var(--bordas-destaque2); /* Bordas destaque 2 */
  background-color: var(--bordas-destaque); /* Fundo alterado no foco */
  color: var(--texto-primario); /* Texto primário */
  transform: translateY(-3px);
}

/* Ícone dentro do input */
input::placeholder {
  color: var(--bordas-destaque);
}

input:focus::placeholder {
  color: var(--bordas-destaque2);
}

/* Estilos do botão */
button {
  width: 100%;
  padding: 15px;
  background-color: var(--bordas-destaque2); /* Fundo do botão */
  color: var(--texto-primario); /* Texto primário */
  border: none;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  letter-spacing: 1px;
}

/* Efeito no botão ao passar o mouse */
button:hover {
  background-color: var(
    --hover-btn-logout
  ); /* Cor de fundo do botão ao passar o mouse */
  transform: translateY(-5px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
}

p {
  text-align: center;
  margin-top: 15px;
}

/* Estilos do link */
a {
  color: var(--bordas-destaque2); /* Cor do link */
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s ease, text-decoration 0.3s ease;
  font-size: 14px;
}

/* Efeito no link ao passar o mouse */
a:hover {
  color: var(--hover-btn-logout); /* Cor do link ao passar o mouse */
  text-decoration: underline;
}

/* Estilos para mensagens de erro/sucesso */
.alert {
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 8px;
  font-size: 18px;
  animation: popupAnimation 0.6s ease-out forwards;
}

@keyframes popupAnimation {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
