{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <title>Nome do Sistema</title>
    <!-- Link para o seu arquivo CSS estático -->
    <link rel="stylesheet" href="{% static 'css/hub/hub.css' %}">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
  </head>
  <body>
    <header class="header">
      <div class="header-title">
        <i class="fas fa-cogs"></i> Nome do Sistema
      </div>
      <div class="header-user"><i class="fas fa-user"></i> Nome do Usuário</div>
    </header>

    <main class="main">
      <section class="menu-grid">
        <a href="#" class="menu-item">
          <i class="fas fa-dollar-sign"></i>
          <span>Finanças</span>
        </a>
        <a href="#" class="menu-item">
          <i class="fas fa-boxes"></i>
          <span>Estoque</span>
        </a>
        <a href="#" class="menu-item">
          <i class="fas fa-user-plus"></i>
          <span>Cad Cliente</span>
        </a>
        <a href="#" class="menu-item">
          <i class="fas fa-chart-line"></i>
          <span>Relatório</span>
        </a>
        <a href="#" class="menu-item">
          <i class="fas fa-plus-square"></i>
          <span>Cad Item</span>
        </a>
        <a href="#" class="menu-item">
          <i class="fas fa-clipboard-list"></i>
          <span>Planos</span>
        </a>
      </section>
    </main>

    <footer class="footer">
      <p>© 2025 - Sistema de Gestão</p>
    </footer>
  </body>
</html>
