{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Estoque - Dashboard</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <link rel="stylesheet" href="{% static 'css/hub/estoque/estoque.css' %}" />
  </head>
  <body>
    <!-- Sidebar -->
    <div class="sidebar">
      <h2>Estoque</h2>
      <ul>
        <li>
          <a href="#"><i class="fas fa-chart-bar"></i> Dashboard</a>
        </li>
        <li>
          <a href="#"><i class="fas fa-exchange-alt"></i> Saídas</a>
        </li>
        <li>
          <a href="{% url 'lista_produtos' %}"
            ><i class="fas fa-boxes"></i> Produtos</a
          >
        </li>
      </ul>
      <a href="{% url 'hub' %}" class="btn">
        <i class="fas fa-arrow-left"></i> Voltar para o Hub
      </a>
    </div>

    <!-- Main Content -->
    <div class="main-content">
      <!-- Header -->
      <header>
        <h1><i class="fas fa-warehouse"></i> Controle de Estoque</h1>
      </header>

      <!-- Seções de Conteúdo -->
      <section class="content-section">
        <h2><i class="fas fa-box"></i> Cadastro de Produtos</h2>
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <input
            type="text"
            name="nome"
            placeholder="Nome do Produto"
            required
          />
          <textarea
            name="descricao"
            placeholder="Descrição do Produto"
            required
          ></textarea>
          <input
            type="text"
            name="categoria"
            placeholder="Categoria"
            required
          />
          <input
            type="text"
            name="fornecedor"
            placeholder="Fornecedor"
            required
          />
          <input
            type="number"
            name="custo_unitario"
            step="0.01"
            placeholder="Custo Unitário"
            required
          />
          <input
            type="number"
            name="preco_venda"
            step="0.01"
            placeholder="Preço de Venda"
            required
          />
          <input
            type="number"
            name="quantidade"
            placeholder="Quantidade em Estoque"
            required
          />
          <input
            type="text"
            name="localizacao"
            placeholder="Localização no Armazém"
            required
          />
          <input
            type="date"
            name="data_validade"
            placeholder="Data de Validade"
          />
          <button type="submit">
            <i class="fas fa-save"></i> Salvar Produto
          </button>
        </form>
      </section>
    </div>
  </body>
</html>
