{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lista de Produtos</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/hub/estoque/lista_produtos.css' %}?v=1"
    />
  </head>
  <body>
    <div class="container">
      <h1><i class="fas fa-box"></i> Lista de Produtos</h1>

      <!-- Botão para Voltar ao Hub -->
      <a href="{% url 'estoque' %}" class="btn-back">
        <i class="fas fa-arrow-left"></i> Voltar para o estoque
      </a>

      <table class="product-table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Produto</th>
            <th>Custo</th>
            <th>Preço</th>
            <th>Quantidade</th>
            <th>Localização</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          {% for produto in produtos %}
          <tr>
            <td>{{ produto.id }}</td>
            <td>{{ produto.nome }}</td>
            <td>R$ {{ produto.custo_unitario }}</td>
            <td>R$ {{ produto.preco_venda }}</td>
            <td>{{ produto.quantidade }}</td>
            <td>{{ produto.localizacao }}</td>
            <td>
              <form
                method="POST"
                action="{% url 'deletar_produto' produto.id %}"
                style="display: inline"
              >
                {% csrf_token %}
                <button type="submit" class="btn-delete">
                  <i class="fas fa-trash-alt"></i> Excluir
                </button>
              </form>
            </td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="7">Nenhum produto cadastrado.</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
